body{
  color:#7aceff;
  font-family:Comic Sans MS;
}
.title{
}
.reasons{
  background-color:white;
  
  display:inline-block;
}
.dancing{
  float:right;
  height:400px;
  width:400px;
}
.vid{
  width:600px;
  height:400px;
  float:right;
  border:0;
}
.orange{
  color:orange;
}
.black{
  color:black;
}
.white{
  color:white;
}
.secret:hover:after {
  content:":They watch out for demons"
}
